html,
body {
  font-family: 'Inconsolata', sans-serif;
  background: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
